# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm


# dotenv environment variables file
.env
.env.test

*.zip

# file for notes and experiments
scratch.js

coverage/

# Serverless directories
.serverless